*{
    box-sizing:border-box;
}
body{
    margin:0;
}
.header{
    background-color:#f1f1f1;
    padding :20 px;
    text-align:center;
}
.nav{
    overflow:hidden;
    background-color:#333;
}
.nav a{
    float:left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding:14 px 16 px;
    text-decoration: none;
}
.nav a:hover{
    background-color:#ddd;
    color:black;
}
.column{
    float:left;
    padding:10 px;
}
.column.side{
    width:25%;
}
.column.middle{
    width:50%
}
.row::after{
    content:"";
    display:table;
    clear:both;
}
@media screen and (max-width:60opx){
    .column.side, .column.middle {
        width:100%
    }
}
.footer{
    background-color:#f1f1f1;
    padding:10 px;
    text-align: center;
} 
.hidden-paragraph{
    display: none;
}
img{
    float:right;
}
p.clear{
    clear:both
}
.container{
    display:flex;
    gap:15px;
}
.container p{
    flex:1;
    padding:10px;
    border:1px solid #eee;
    background-color:#f9f9f9
}