* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 20 px;
    text-align: center;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14 px 16 px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    padding: 10 px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:60opx) {

    .column.side,
    .column.middle {
        width: 100%
    }
}

.footer {
    background-color: #f1f1f1;
    padding: 10 px;
    text-align: center;
}

.hidden-paragraph {
    display: none;
}

img {
    float: right;
}

p.clear {
    clear: both
}

.container {
    display: flex;
    gap: 15px;
}

.container p {
    flex: 1;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #f9f9f9
}

.nav {
    position: fixed;
    top: 0;
    padding: 5px;
    border: 2px solid #4CAF50;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(2, 71, 48, 0.2);
  transition: 0.5s;
  width: 20%;
  position: relative;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 4px 20px;
}

.X {
    position: absolute;
    color:#e5dddd;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.container-absolute{
    height:100%;
    margin:0;
    position: relative;
}

.absolute{
    position:absolute;
    bottom: 20px;
    right:20px;
    width:100px;
    height: 100px;
    background-color:purple;
}