p {
    color:purple;
    text-align:right;
}

h1 {
    color:slateblue;
}

h2 {
    color:rgb(54, 3, 78);
}

h3 {
    color:rgb(143, 216, 242);
}

h4 {
    color:rgb(87, 209, 130);
}

h5 {
    color:rgb(203, 249, 20);
}

h6 {
    color:rgb(213, 57, 46);
}
#title {
    background-color: fuchsia;
}

.example {
    color: black;
    text-align: left;
    font-size: 30px;
}

.small {
    color: rgb(17, 0, 126);
    text-align: center;
    background-color: blueviolet;
}

.poem {
    color:black;
    text-align: justify;
    border-style: dashed;

}

.size {
    font-size: 20px;
}

.background {
    background-color: darkgray;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h5, p {
    text-align: center;
}

a:hover {
    color:rgb(223, 99, 62)
}

li:last-child {
      font-weight:bold;
}


#red {
    color:rgb(255, 0, 0 ); /* Red */
}

#hex {
    color:#ff0000
}

#rgba {
    color: rgba(255, 0, 0, 0.7);
}

#colorname {
    color:red
}

p {
    color:rgb(49, 33, 4)
}

.Specificity {
    color:rgb(25, 97, 7)
}

#CSS {
    color:rgb(240, 78, 232)
}

div{
    color:rgb(76, 76, 240);
    text-align: center;
}
#inheritance{
    color:rgb(76, 76, 240);
    text-align: center;
}
.square-percentage{
   width: 30%; 
    padding-bottom: 30%; 
    background-color: lightgreen; 
    border: 2px solid blue; 
}
.square-pixel{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 2px solid black;
    box-sizing: border-box;
}
.container-paragraph{
    border: 2px solid rgb(92, 1, 1);
    padding: 20 px;
    margin: 30 px;
    background-color:rgb(128, 240, 240)
}
.rem-paragraph{
    font-size: 7rem;
    color: red;
    margin-bottom: 20 px;
}
.em-paragrph{
    font-size: 7em;
    color: green;
}
:root{
    --color-text:red;
    --padding:30px;
    --div-padding: 40px;
    --margin: 20px;
    --border:3px solid blue;
    --background-color: rgb(218, 145, 215);
    
}
*{
    color:var(--color-text)
}
.padding{
    padding:var(--padding)
}
.example-padding-border-margin{
    padding:var(--div-padding);
    margin:var(--margin);
    border:var(--border);
    background-color: var(--background-color);
}