p {
    color:purple;
    text-align:right;
}

h1 {
    color:slateblue;
}

h2 {
    color:rgb(54, 3, 78);
}

h3 {
    color:rgb(143, 216, 242);
}

h4 {
    color:rgb(87, 209, 130);
}

h5 {
    color:rgb(203, 249, 20);
}

h6 {
    color:rgb(213, 57, 46);
}
#title {
    background-color: fuchsia;
}

.example {
    color: black;
    text-align: left;
    font-size: 30px;
}

.small {
    color: rgb(17, 0, 126);
    text-align: center;
    background-color: blueviolet;
}

.poem {
    color:black;
    text-align: justify;
    border-style: dashed;

}

.size {
    font-size: 20px;
}

.background {
    background-color: darkgray;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3, h5, p {
    text-align: center;
}